body {
  --success-color: #57cc99;
  --dark-color: #333533;
  --light-color: #f2f4f3;
  --gray-color: #c5c7c6;
  --dark-gray-color: #b4b0b0;
  --dark-gray-color-2: #817f7f;
  --secondary-color: #38a3a5;
  --tertiary-color: #22577a;
  --danger-color: #ff4e79;
  --danger-color-2: #cf224d;
  --success-color-2: #c1fba4;
  --success-color-3: #3f9771;
}
