<a href="/panel/profile" class="panel__link <%= path === "/panel/profile" ? "panel__link--selected" : '' %>">Personal
    Info</a>
<a href="/panel/password"
   class="panel__link <%= path === "/panel/password" ? "panel__link--selected" : '' %>">Password</a>