@font-face {
  font-family: "Kanit";
  src: url("/src/font/Kanit-Bold.eot");
  src: url("/src/font/Kanit-Bold.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Kanit-Bold.woff2") format("woff2"),
    url("/src/font/Kanit-Bold.woff") format("woff"),
    url("/src/font/Kanit-Bold.ttf") format("truetype"),
    url("/src/font/Kanit-Bold.svg#Kanit-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/src/font/Kanit-Light.eot");
  src: url("/src/font/Kanit-Light.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Kanit-Light.woff2") format("woff2"),
    url("/src/font/Kanit-Light.woff") format("woff"),
    url("/src/font/Kanit-Light.ttf") format("truetype"),
    url("/src/font/Kanit-Light.svg#Kanit-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/src/font/Kanit-Medium.eot");
  src: url("/src/font/Kanit-Medium.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Kanit-Medium.woff2") format("woff2"),
    url("/src/font/Kanit-Medium.woff") format("woff"),
    url("/src/font/Kanit-Medium.ttf") format("truetype"),
    url("/src/font/Kanit-Medium.svg#Kanit-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martel";
  src: url("/src/font/Martel-Bold.eot");
  src: url("/src/font/Martel-Bold.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Martel-Bold.woff2") format("woff2"),
    url("/src/font/Martel-Bold.woff") format("woff"),
    url("/src/font/Martel-Bold.ttf") format("truetype"),
    url("/src/font/Martel-Bold.svg#Martel-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/src/font/Kanit-Regular.eot");
  src: url("/src/font/Kanit-Regular.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Kanit-Regular.woff2") format("woff2"),
    url("/src/font/Kanit-Regular.woff") format("woff"),
    url("/src/font/Kanit-Regular.ttf") format("truetype"),
    url("/src/font/Kanit-Regular.svg#Kanit-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martel";
  src: url("/src/font/Martel-Regular.eot");
  src: url("/src/font/Martel-Regular.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Martel-Regular.woff2") format("woff2"),
    url("/src/font/Martel-Regular.woff") format("woff"),
    url("/src/font/Martel-Regular.ttf") format("truetype"),
    url("/src/font/Martel-Regular.svg#Martel-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martel";
  src: url("/src/font/Martel-Light.eot");
  src: url("/src/font/Martel-Light.eot?#iefix") format("embedded-opentype"),
    url("/src/font/Martel-Light.woff2") format("woff2"),
    url("/src/font/Martel-Light.woff") format("woff"),
    url("/src/font/Martel-Light.ttf") format("truetype"),
    url("/src/font/Martel-Light.svg#Martel-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
