<%- include('partials/_head.ejs') %>
<%- include('partials/_menu-header.ejs') %>
<main class="main-panel">
    <%- include('partials/_panel.ejs') %>
    <section class="personal-info section-full">
        <form class="form form--add-agent" id="addAgentForm">
            <div class="form__wrapper">
                <div class="form__field">
                    <input
                            name="username"
                            type="text"
                            class="form__input"
                            placeholder="Username"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="firstname"
                            type="text"
                            class="form__input"
                            placeholder="First Name"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="lastname"
                            type="text"
                            class="form__input"
                            placeholder="Last Name"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="phone"
                            type="text"
                            class="form__input"
                            placeholder="Phone"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="password"
                            type="password"
                            class="form__input"
                            placeholder="Password"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="password2"
                            type="password"
                            class="form__input"
                            placeholder="Password Confirm"
                            required
                    />
                </div>
            </div>
            <div class="form__wrapper">
                <div class="form__field">
                    <input
                            name="city"
                            type="text"
                            class="form__input"
                            placeholder="City"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="street"
                            type="text"
                            class="form__input"
                            placeholder="Street"
                            required
                    />
                </div>
                <div class="form__field">
                    <input
                            name="plaque"
                            type="text"
                            class="form__input"
                            placeholder="Plaque"
                            required
                    />
                </div>
            </div>
            <div class="form__field">
                <button class="form__btn btn btn--primary" type="submit">
                    Add
                </button>
            </div>
        </form>
    </section>
</main>
<%- include('partials/_end.ejs') %>
