<%- include('partials/_head.ejs') %>
<%- include('partials/_menu-header.ejs') %>
<main class="main-panel">
    <%- include('partials/_panel.ejs') %>
    <section class="personal-info section-full">
        <form class="form form--profile" id="changePasswordForm">
            <div class="form__field">
                <input
                        name="oldPassword"
                        type="password"
                        class="form__input"
                        placeholder="Old Password"
                        required
                />
            </div>
            <div class="form__field">
                <input
                        name="newPassword"
                        type="password"
                        class="form__input"
                        placeholder="New Password"
                        required
                />
            </div>
            <div class="form__field">
                <input
                        name="newPassword2"
                        type="password"
                        class="form__input"
                        placeholder="New Password Confirm"
                        required
                />
            </div>
            <div class="form__field">
                <button class="form__btn btn btn--primary" type="submit">
                    Change
                </button>
            </div>
        </form>
    </section>
</main>
<%- include('partials/_end.ejs') %>